<header>
  <div class="header-left">
    <a routerLink="/">{{router.url === "/" ? "AngularWordle" : "Back to game" }}</a>
    <a class="portfolio" href="https://www.salimregragui.com/" target="_blank"
      >By salimregragui.com</a
    >
  </div>

  <div class="header-center"></div>

  <div class="header-right">
    <a routerLink="/help"><img src="assets/icons/help.svg" /></a>
    <a routerLink="/settings"><img src="assets/icons/settings.svg" /></a>
    <!-- <a routerLink="/leaderboard"><img src="assets/icons/leaderboard.svg" /></a> -->
    <a routerLink="/stats">
      <img src="assets/icons/person-outline.svg" />
    </a>
  </div>
</header>
