<header>
  <div class="header-left">
    <a routerLink="/">
      AngularWordle
      <span>By Salim Regragui</span>
    </a>
  </div>

  <div class="header-center"></div>

  <div class="header-right">
    <a routerLink="/help"><img src="assets/icons/help.svg" /></a>
    <a routerLink="/settings"><img src="assets/icons/settings.svg" /></a>
    <a routerLink="/leaderboard"><img src="assets/icons/leaderboard.svg" /></a>
    <a routerLink="/stats">
      <img src="assets/icons/person-outline.svg" />
    </a>
  </div>
</header>
