header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  .header-left {
    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      font-weight: 800;
      font-size: 18px;
      color: #e8e4e1;

      span {
        font-weight: 400;
        font-size: 14px;
      }

      &:hover {
        opacity: 0.4;
      }
    }
  }

  .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      width: 24px;
      height: 24px;
      margin-left: 10px;

      &:hover {
        opacity: 0.4;
      }
    }
  }
}
