.game-container {
  width: calc(100vw - 40px);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;

  .game-container-guesses {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media screen and (min-width: 600px) {
  .game-container {
      margin-top: 0px;
    .game-container-guesses {
      width: 400px;
    }
  }
}
