.notification-item {
  width: 80%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 10%;
  color: white;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  &.error {
    background-color: #e25100;
  }

  &.success {
    background-color: #8a8e7f;
  }
}
