.App {
  background-color: #191816;
  color: #E8E4E1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  justify-content: space-between;

  .content {
      flex: 1;
  }
}
